/* ==UserStyle==
@name           Compact Tables for Kittens Game
@description    Slimmed with bonuses to alignment.
@version        20200813.0.0
@author         keturn (https://keturn.net)
@namespace      keturn.net
@homepageURL    https://gitlab.com/keturn/condensed-kittens-usercss
@supportURL     https://gitlab.com/keturn/condensed-kittens-usercss/issues
@updateURL      https://gitlab.com/keturn/condensed-kittens-usercss/raw/master/condensed-kittens.user.css
@license        MIT-0
==/UserStyle== */


@-moz-document url-prefix("https://bloodrizer.ru/games/kittens/"), url-prefix("http://bloodrizer.ru/games/kittens/") {
/* @import url('https://fonts.googleapis.com/css?family=Asap|Asap+Condensed'); */

/* latin-ext */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Regular'), local('Asap-Regular'), url(https://fonts.gstatic.com/s/asap/v6/Dy_cVowOlpUXGnXP0Oc4fRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Regular'), local('Asap-Regular'), url(https://fonts.gstatic.com/s/asap/v6/4IZ-rb0XaZswogpKW4jQk_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Condensed Regular'), local('AsapCondensed-Regular'), url(https://fonts.gstatic.com/s/asapcondensed/v1/WnB1QP0n-KM9-GXLGChcYWeXSFAMSja7VV3mxiGTAAg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Condensed Regular'), local('AsapCondensed-Regular'), url(https://fonts.gstatic.com/s/asapcondensed/v1/WnB1QP0n-KM9-GXLGChcYQyxib6nPgO2jLQ9B-z3JgE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.res-table {
    font-family: 'Asap Condensed', sans-serif;
    /* line-height: 1.2em; */
    border-collapse: collapse;
}

.resource-name, .resAmount, .resPerTick {
    text-align: right;
}

/* Prevent the seasonal modifier column from changing width */
.resTable .resPerTick + div {
    width: 6ex;
}

.resTable .resourceRow:hover {
    font-weight: bolder;
}

.craftTable {
    text-align: right;
}

/* the 'craft all' button */
.craftTable > .res-row > div:last-child {
    text-align: center;
}

#fastHuntContainer, #fastPraiseContainer {
    text-align: center;
    width: 100%;
}

#fastHuntContainer > a, #fastPraiseContainer > a {
	display: inline-block;
    width: 100%;
}

/* sometimes can line-wrap depending on how many seconds are left */
#undoBtn {
    white-space: nowrap;
}

.price-block {
    font-family: 'Asap Condensed', sans-serif;
    /* line-height: 1.2em; */
    border-collapse: collapse;
}

.trade-race .left {
    font-family: 'Asap', sans-serif;
    /* line-height: 1.2em; */
}

.trade-race .buys, .trade-race .sells {
    width: 3em;
}

.statTable {
    border-collapse: collapse;
}

.statTable td:last-of-type {
    text-align: right;
}

}
